html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
===================================
typography
===================================
purple color: #6d5e9b;
blue color: #449EA5;
lighter blue color: #C9E7E9;
green color: #538E42;
gold color: #A58F44;
rust color: #9B5440;
*/

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #449EA5;
}

h1, h2, h2 a, h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500
}

h2 {
  padding-left: 15px;
  font-size: 2.5rem;
  color: #538E42;
  text-align: center;
}

h3 {
  color: black;
}

p {
  font-size: .95rem;
  font-weight: 300;
  line-height: 1.2;
  color: black;
}

a {
  text-decoration: none;
  color: #449EA5;
}

a:hover {
  color: #9B5440;
}

/*
===================================
header
===================================
*/
header {
  background-color: #C9E7E9;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 1;
}

header h2 {
  font-size: 2.3rem;
  display: inline-block;
}

header ul {
  list-style-type: none;
  float: right;
}

header li {
  display: inline;
  padding: 10px;
}

nav {
  display: inline-block;
  float: right;
  margin: 25px 10px 0px;
}

/*
===================================
hero banner, everybody banner
===================================
*/
#hero, #everybody {
  position: relative;
  clear: both;
}

#hero {
  top: 100px;
  margin-bottom: 120px;
}

#hero-image, #everybody-image {
  width: 100%;
  z-index: 0;
}

#hero-text, #everybody-text {
  position: absolute;
  left: 10%;
}

#hero-text {
  top: 65%;
  font-size: 4.2rem;
}

#everybody-text {
  top: 10%;
  font-size: 3.2rem;
}

/*
===================================
popular posts
===================================
*/
section.pop-posts h2 {
  margin-bottom: 0px;
}

article {
  width: 220px;
  height: 270px;
  margin: 20px;
  padding: 2px 8px;
  display: inline-block;
  border: 2px solid #449EA5;
  border-radius: 20%;
  background-color: #C9E7E9;
  overflow: hidden;
  text-align: center;
  position: relative;
}

article h3 {
  border-bottom: 2px solid #449EA5;
  margin: 10px -10px 7px;
  padding: 0px 14px;
}

article p {
  text-align: justify;
}

.button-area {
  position: absolute;
  top: 210px;
  width: 200px;
  height: 20px;
  display: table;
}

p.button {
  border: 1px solid #449EA5;
  border-radius: 12px;
  background-color: #C9E7E9;
  display: inline-block;
  width: 150px;
  text-align: center;
  vertical-align: bottom;
}

.button a {
  padding: 10px 12px;
}

/*
===================================
join the club, footer
===================================
*/
.column1 {
  width: 45%;
  margin: 0px 10px;
  float: left;
}

.column1 h2 {
  text-align: center;
  padding-right: 20px;
}

.column1 p {
  text-align: justify;
  padding: 5px;
}

footer .column1 {
  padding: 10px 0px 10px 10px;
}

h4 {
color: black;
display: inline;
font-size: .8rem;
}

#disclaimer {
  font-size: .8rem;
  display: inline;
}

.column2 {
  width: 45%;
  margin: 10px;
}
