html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
===================================
typography
===================================
purple color: #6d5e9b;
blue color: #449EA5;
lighter blue color: #C9E7E9;
green color: #538E42;
gold color: #A58F44;
rust color: #9B5440;
*/

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, h2, h2 a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500
}

h2 {
  color: #538E42;
  padding-left: 10px;
}

h3 {
  font-style: italic;
  font-weight: 400;
}

p {
  font-size: .95rem;
  font-weight: 300;
  line-height: 1.2;
}

/*
===================================
header
===================================
*/
header {
  background-color: #C9E7E9;
}


header a {
  text-decoration: none;
  color: #538E42;
}

header a:hover {
  color: #A58F44;
}


header h2 {
  font-size: 2rem;
}

header ul {
  list-style-type: none;
  float: right;
}

header li {
  display: inline;
  padding: 10px;
}

/*
===================================
hero banner
===================================
*/
#hero {
  position: relative;
  clear: both;
}

#hero-image {
  width: 100%;
}

#hero-text {
  position: absolute;
  top: 260px;
  left: 40px;
  font-size: 4rem;
  color: black;
}

/*
===================================
popular posts
===================================
*/

article {
  width: 150px;
  height: 200px;
  margin: 20px;
  display: inline-block;
  border: 2px solid #449EA5;
  overflow: hidden;
}

/*
===================================
join the club
===================================
*/
#club-text {
  width: 45%;
  margin: 0px 10px;
  float: left;
}

#club-image {
  width: 45%;
  margin: 10px;
}
